/* body{
    background: url("../images/recipe-bg.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
} */
@font-face {
    font-family: tamil-font;
    src: url("../Fonts/akshar.ttf");
}
@font-face {
    font-family: eina-bold;
    src: url("Fonts/Eina02-Bold.ttf");
}
@font-face {
    font-family: pronema-serif;
    src: url("Fonts/pronemaSerif.ttf");
}
ol{
    font-size:18px;
}
a, h1, p {
    color: #fff;
}
.main-container.recipe-banner{
    min-height: 500px; 
    position: relative;
    margin-top:40px;
}
.main-container.recipe-banner:before{
    content:'';
    background-image:url("../recipes/recipe-images/recipe-banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      opacity: 0.7; 
      z-index: -1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0; 
    display: flex;
    align-items: center
}
.banner-title{
    text-align: center;
    font-size: 60px;
    font-family: pronema-serif;
    letter-spacing: 1px;
}
.recipe-heading{
    font-weight: 900;
    font-size: 35px;
    color: #761006;
    margin: 20px auto;
    text-align: center;
}
.recipe-container{
    text-align: left;
    line-height: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    grid-gap: 10px;
   place-items: center;
}
.recipe-card {
    border:1px solid #76100617;
    padding: 10px;
    margin:10px;
    text-align: center;
    border-radius:15px
}
.recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.recipe-title {
    font-family: tamil-font;
    font-weight: bold;
    margin: 10px 0;
    font-size:20px;
    color:#000;
}
.recipe-description {
    font-size: 14px;
}
.recipe-button {
    background-color: #761006;
    color: white;
    border: none;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.recipe-button:hover{
    border:2px solid #761006;
    color:#761006;
    background-color: #fff;
    font-weight:500;
    transition: 0.2s;
}

/* Individual recipe style */
.ind-body{
    /* background: url(../recipes/recipe-images/pattern.jpg) center bottom/cover no-repeat #cfcfcf; */
    position: relative;
}
.ind-recipe-container{
    text-align: left;
    line-height: 40px;
}
.ind-recipe-title{
    color: #761006;
    font-size: 25px;
    font-weight: 900;

 
}
.recipe-image{
    height: 400px;
    width: 400px;
    display:block;
}
.ind-recipe-image{
    width:1200px;
    height:600px;
}
.ind-recipe-inner{
    display:flex;
}
.ind-recipe-inner1{
    width:40%;
    padding: 20px;
    background: #bed630bd;
    margin: 0 20px 0 0;
    border-radius: 20px;
}
.ind-recipe-inner2{
    width: 60%;
    margin: 0 0 0 20px;
    padding: 20px;
    max-height: 800px;
    overflow-y: scroll;
}

.back-link{
    color:rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    font-weight:600;
}

/* media queries */

@media(max-width:480px) {      
    .banner-title,.recipe-heading{
        font-size: 30px;     
        letter-spacing: 3px;
    } 
    .ind-recipe-inner{
        display:block;
    }
    .ind-recipe-inner1,.ind-recipe-inner2{
        padding: 20px;
        margin: 20px;
        width: unset;
    }
    .ind-recipe-title{
        font-size: 18px;
        text-align: center;
    }
    .ind-recipe-image{
        width:600px;
        height:300px;
    }
}