* {
    box-sizing: border-box;
}

@font-face {
    font-family: "eina-bold";
    src: url("Fonts/Eina02-Bold.ttf");
}

@font-face {
    font-family: "pronema-serif";
    src: url("Fonts/pronemaSerif.ttf");
}


/* @font-face {
    font-family: "pronema-serif";
    src: url("Fonts/pronema-serif.otf") format("otf");
}

@font-face {
    font-family: "custom";
    src: url("Fonts/Dimmitry400.ttf");
} */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

h1 {
    font-family: 'Pronema Serif';
    letter-spacing: 4px;
    font-size: 90px;
    font-weight: 600;
    margin-top: -22px;
}

p {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
}


/* Global styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

.main-container.banner {
    background-image: url("images/Banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    max-width: 1200px;
    margin: 50px auto;
    position: relative;
}

.section-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    position: relative;
}

.inner-section1,
.inner-section2 {
    margin: 10px;
}

.sec-child {
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.text-wrapper {
    border-style: solid;
    border-radius: 3px;
    border-width: 1px 1px 1px 1px;
    border-color: #67002F;
    transition: background 0.5s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.text-wrapper p {
    text-align: center;
    color: #A18D7D;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* / Media queries for tablet and mobile devices / */

@media only screen and (max-width: 768px) {
    /* / Tablet styles / */
    .section {
        width: 768px;
    }
}

@media only screen and (max-width: 480px) {
    /* / Mobile styles / */
    .section {
        width: 480px;
    }
}