* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

@font-face {
    font-family: "eina-bold";
    src: url("Fonts/Eina02-Bold.ttf");
}

@font-face {
    font-family: "pronema-serif";
    src: url("Fonts/pronemaSerif.ttf");
}


/* @font-face {
    font-family: "pronema-serif";
    src: url("Fonts/pronema-serif.otf") format("otf");
}

@font-face {
    font-family: "custom";
    src: url("Fonts/Dimmitry400.ttf");
} */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

h1 {
    font-family: 'Pronema Serif';
    letter-spacing: 4px;
    font-size: 90px;
    font-weight: 600;
    color: #fff;
}

p {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
}

.subtitle {
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'poppins';
}

.sec4-our-product {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.our-products-inner {
    width: 70%;
}

.card-wrapper {}

.main-container {
    width: 100%;
    margin: 0 auto;
}

.main-container.banner {
    background-image: url("images/Banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    max-width: 1200px;
    margin: 50px auto;
    position: relative;
}

.section-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1250px;
    margin: 20px auto;
    position: relative;
}

.inner-section1,
.inner-section2 {
    margin: 10px;
}

.sec-child {
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.text-wrapper {
    border-style: solid;
    border-radius: 3px;
    border-width: 1px 1px 1px 1px;
    border-color: #67002F;
    transition: background 0.5s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.sec-vision-show {
    display: none;
}

.show-hide:hover .sec-vision-show {
    display: block;
}

.show-hide:hover .sec-vision {
    display: none;
}

.show-hide:hover {
    background-color: #67002F;
    cursor: pointer;
}

.text-wrapper p {
    text-align: center;
    color: #A18D7D;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.section4-inner {
    width: 50%;
    padding-top: 180px;
}

.icon-box-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.icon-box img {
    width: 60px;
    background-color: antiquewhite;
    border-radius: 50%;
    padding: 10px;
}

figure {
    margin: 10px;
    width: 20%;
}

figcaption {
    font-size: 14px;
    color: #fff;
    padding: 5px;
}

.icon-box-sec5 img {
    background-color: unset;
    border-radius: unset;
}

.icon-box-sec5 figcaption,
.grid p {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

.icon-box-wrapper.sec5-icon-wrap {
    width: 73%;
}


/* product card style */

.card {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 20px;
}

.card .product-title {
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.card p {
    color: #000;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    margin: 10px auto 15px auto;
}

.card button {
    position: absolute;
    bottom: -20px;
    right: 12%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'poppins';
    letter-spacing: 1px;
    background-color: #e74a0a;
    width: 200px;
    padding: 10px 15px 10px 15px;
    border: unset;
    border-radius: 10px;
}

.card img {
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 40px;
}


/* product card style end */

.card-wrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.sec-5-inner-sec1 {
    background-color: #bed630;
    border-radius: 0 230px 230px 0;
    padding: 80px 0px 80px 449px;
    width: 55%;
}

.sec-5-inner-sec2 {
    width: 45%;
    margin: 0 auto 0 80px;
}


/**/

.section-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid {
    width: 260px;
    height: 300px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    padding: 20px;
    margin: 5px;
}

.grid-container:hover .grid {
    filter: grayscale(0%);
    cursor: pointer;
}

.why-millet-sec p {
    color: #929e1d;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgb(232, 245, 113);
}


/* / Media queries for tablet and mobile devices / */

@media(max-width: 768px) {
    /* / Tablet styles / */
    .section {
        max-width: 768px;
    }
    .section-flex {
        flex-direction: column;
    }
    .section-row {
        flex-direction: column;
    }
    .grid {
        width: 100%;
    }
}

@media(max-width: 480px) {
    /* / Mobile styles / */
    .section {
        max-width: 480px;
    }
}